body{
    margin: 0px 0px 0px 0px;
    width: 100vw;
}
.tudo{
    height: 100vh;
    width: 100vw;
}
#principal {
    margin: 0px 0px 0px 0px ;
    background-image: url(sara.jpeg) ;
    background-size: 50vw 100vh;
    position:relative;
    border-width:2px;
    width: 50vw;
    height: 100vh;
    float: left;
}
#lado {
    background-size: 50vw 100vh;
    margin: 0px 0px 0px 0px ;
    position: relative;
    border-width:2px;
    width: 50vw;
    height: 100vh;
    left:0px;
    float: left;
    background-image: url(pp.jpeg);
}

iframe{
position: absolute;
width: 100vw;
display: inline-block;
bottom: 0px;
top: 400px;
}
h1{
    font-size: 50pt;
    position: relative;
    color: whitesmoke;
    text-shadow: 0px 0px 20px black;
    padding: 0px 0px 0px 300px;
}